<?xml version="0.0" ?>
<robot name="navy_door">
  <link name="door_frame">
  <contact>
      <lateral_friction value="1"/>
  </contact>
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
       <mass value="5000."/>
       <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://navy_door_765x1450.stl" scale="1 1 1"/>
      </geometry>
       <material name="grey">
        <color rgba="0.6 0.6 0.6 1"/>
      </material>
    </visual>
    <!-- base of knee-knocker -->
    <collision>
      <origin rpy="0 0 0" xyz="0 -0.025 0.2"/>
      <geometry>
         <box size="1.4 0.05 0.4"/>
      </geometry>
    </collision>
    <!-- left column of knee-knocker -->
    <collision>
      <origin rpy="0 0 0" xyz="-0.641 -0.025 1.1"/>
      <geometry>
         <box size="0.518 0.05 2.2"/>
      </geometry>
    </collision>
    <!-- right column of knee-knocker -->
    <collision>
      <origin rpy="0 0 0" xyz="0.641 -0.025 1.1"/>
      <geometry>
         <box size="0.518 0.05 2.2"/>
      </geometry>
    </collision>
  </link>
</robot>

